<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a href="#" class="nav-item nav-link active" routerLink="/home" routerLinkActive="active">Home</a> <br>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a href="#" class="nav-item nav-link" routerLink="/Exercise1TypescriptExample" routerLinkActive="router-link-active" >Exercise1</a>
        <a href="#" class="nav-item nav-link" routerLink="/Exercise2AverageMarks" routerLinkActive="router-link-active" >Exercise2</a>
        <a href="#" class="nav-item nav-link" routerLink="/Exercise3CustomPipe" routerLinkActive="router-link-active" >Exercise3</a>
        <a href="#" class="nav-item nav-link" routerLink="/Exercise4ProductInformation" routerLinkActive="active">Exercise4</a> <br>
        <a href="#" class="nav-item nav-link" routerLink="/Exercise5InputOutput" routerLinkActive="router-link-active" >Exercise5</a>
      </div>
  </div>
</nav>
<router-outlet></router-outlet>
